<launch>
  <arg name="show_window" default="false" />
  <arg name="fps" default="30" />
  <arg name="display_scale" default="1.0" />
  <arg name="enable_record" default="false" />
  <arg name="record_dir" default="$(env HOME)/yellow_circle_dataset" />
  <arg name="record_fps" default="$(arg fps)" />
  <arg name="image_format" default="jpg" />
  <arg name="jpeg_quality" default="95" />
  <arg name="target_diameter_m" default="0.20" />
  <arg name="depth_max_valid_m" default="0.35" />
  <arg name="depth_max_display_m" default="2.00" />
  <arg name="close_radius_px" default="42.0" />
  <arg name="close_distance_m" default="0.16" />
  <arg name="auto_calibrate_distance" default="false" />
  <arg name="calibration_distance_m" default="0.20" />
  <arg name="calibration_radius_px" default="0.0" />
  <arg name="enable_yolo" default="false" />
  <arg name="yolo_model_path" default="$(find d435i_yellow_circle_detector)/models/best.pt" />
  <arg name="yolo_conf_threshold" default="0.5" />
  <arg name="yolo_imgsz" default="640" />
  <arg name="yolo_device" default="cpu" />
  <arg name="invert_camera_x" default="true" />
  <arg name="enable_global_target" default="false" />
  <arg name="global_target_topic" default="/competition/target_global" />
  <arg name="global_target_max_age_sec" default="1.0" />
  <arg name="body_frame" default="base_link" />
  <arg name="camera_frame" default="d435i_color_optical_frame" />
  <arg name="global_position_topic" default="/mavros/global_position/global" />
  <arg name="local_pose_topic" default="/mavros/local_position/pose" />
  <arg name="enable_competition_task" default="false" />
  <arg name="mission_stage" default="drop" />

  <node pkg="d435i_yellow_circle_detector"
        type="d435i_camera_node.py"
        name="d435i_camera_node"
        output="screen">
    <param name="color_width" value="640" />
    <param name="color_height" value="480" />
    <param name="depth_width" value="640" />
    <param name="depth_height" value="480" />
    <param name="fps" value="$(arg fps)" />
    <param name="color_format" value="bgr8" />
    <param name="wait_timeout_ms" value="5000" />
    <param name="timeout_restart_count" value="3" />
    <param name="auto_profile_fallback" value="true" />
    <param name="align_depth_to_color" value="true" />
    <param name="frame_id" value="d435i_color_optical_frame" />
    <param name="color_topic" value="/d435i/color/image_raw" />
    <param name="depth_topic" value="/d435i/aligned_depth/image_raw" />
    <param name="camera_info_topic" value="/d435i/color/camera_info" />
  </node>

  <node pkg="d435i_yellow_circle_detector"
        type="yellow_binarizer_node.py"
        name="yellow_binarizer_node"
        output="screen">
    <param name="color_topic" value="/d435i/color/image_raw" />
    <param name="binary_topic" value="/yellow_circle/binary_image" />

    <param name="h_min" value="18" />
    <param name="h_max" value="42" />
    <param name="s_min" value="80" />
    <param name="s_max" value="255" />
    <param name="v_min" value="80" />
    <param name="v_max" value="255" />

    <param name="morph_kernel" value="5" />
    <param name="morph_open_iterations" value="1" />
    <param name="morph_close_iterations" value="2" />
  </node>

  <node pkg="d435i_yellow_circle_detector"
        type="yellow_circle_detector_node.py"
        name="yellow_circle_detector_node"
        output="screen">
    <param name="color_topic" value="/d435i/color/image_raw" />
    <param name="binary_topic" value="/yellow_circle/binary_image" />
    <param name="depth_topic" value="/d435i/aligned_depth/image_raw" />
    <param name="camera_info_topic" value="/d435i/color/camera_info" />
    <param name="result_topic" value="/yellow_circle" />
    <param name="annotated_topic" value="/yellow_circle/annotated_image" />

    <param name="min_area" value="120.0" />
    <param name="max_area" value="200000.0" />
    <param name="min_radius" value="6.0" />
    <param name="min_circularity" value="0.55" />
    <param name="center_roi_ratio" value="0.85" />
    <param name="target_diameter_m" value="$(arg target_diameter_m)" />
    <param name="use_diameter_depth_fallback" value="true" />
    <param name="prefer_diameter_depth" value="true" />
    <param name="depth_min_valid_m" value="0.05" />
    <param name="depth_max_valid_m" value="$(arg depth_max_valid_m)" />
    <param name="depth_min_display_m" value="0.01" />
    <param name="depth_max_display_m" value="$(arg depth_max_display_m)" />
    <param name="depth_disagreement_ratio" value="0.35" />
    <param name="close_radius_px" value="$(arg close_radius_px)" />
    <param name="close_distance_m" value="$(arg close_distance_m)" />
    <param name="auto_calibrate_distance" value="$(arg auto_calibrate_distance)" />
    <param name="calibration_distance_m" value="$(arg calibration_distance_m)" />
    <param name="calibration_radius_px" value="$(arg calibration_radius_px)" />
    <param name="calibration_samples" value="30" />
    <param name="enable_body_transform" value="false" />
    <param name="camera_to_body_x_m" value="0.0" />
    <param name="camera_to_body_y_m" value="0.0" />
    <param name="camera_to_body_z_m" value="0.0" />
    <param name="camera_to_body_roll_deg" value="0.0" />
    <param name="camera_to_body_pitch_deg" value="0.0" />
    <param name="camera_to_body_yaw_deg" value="0.0" />
  </node>

  <group if="$(arg show_window)">
    <node pkg="d435i_yellow_circle_detector"
          type="annotated_image_viewer_node.py"
          name="annotated_image_viewer_node"
          output="screen">
      <param name="image_topic" value="/yellow_circle/annotated_image" />
      <param name="window_name" value="yellow_circle_detector" />
      <param name="display_scale" value="$(arg display_scale)" />
    </node>

    <node pkg="d435i_yellow_circle_detector"
          type="binary_image_viewer_node.py"
          name="binary_image_viewer_node"
          output="screen">
      <param name="image_topic" value="/yellow_circle/binary_image" />
      <param name="window_name" value="yellow_binary" />
      <param name="display_scale" value="$(arg display_scale)" />
    </node>
  </group>

  <group if="$(arg enable_record)">
    <node pkg="d435i_yellow_circle_detector"
          type="dataset_image_recorder_node.py"
          name="dataset_image_recorder_node"
          output="screen">
      <param name="image_topic" value="/d435i/color/image_raw" />
      <param name="record_dir" value="$(arg record_dir)" />
      <param name="record_fps" value="$(arg record_fps)" />
      <param name="image_format" value="$(arg image_format)" />
      <param name="jpeg_quality" value="$(arg jpeg_quality)" />
      <param name="filename_prefix" value="d435i_raw" />
    </node>
  </group>

  <group if="$(arg enable_yolo)">
    <node pkg="d435i_yellow_circle_detector"
          type="yolo_detector_node.py"
          name="yolo_detector_node"
          output="screen">
      <param name="image_topic" value="/d435i/color/image_raw" />
      <param name="depth_topic" value="/d435i/aligned_depth/image_raw" />
      <param name="camera_info_topic" value="/d435i/color/camera_info" />
      <param name="annotated_topic" value="/yolo/annotated_image" />
      <param name="result_topic" value="/yolo/detection" />
      <param name="results_topic" value="/yolo/detections" />
      <param name="model_path" value="$(arg yolo_model_path)" />
      <param name="conf_threshold" value="$(arg yolo_conf_threshold)" />
      <param name="imgsz" value="$(arg yolo_imgsz)" />
      <param name="device" value="$(arg yolo_device)" />
      <param name="depth_patch_radius" value="2" />
      <param name="invert_camera_x" value="$(arg invert_camera_x)" />
      <param name="global_target_topic" value="$(arg global_target_topic)" />
      <param name="global_target_max_age_sec" value="$(arg global_target_max_age_sec)" />
      <param name="show_window" value="$(arg show_window)" />
      <param name="window_name" value="YOLO Detection" />
    </node>
  </group>

  <group if="$(arg enable_global_target)">
    <node pkg="d435i_yellow_circle_detector"
          type="target_geopose_node.py"
          name="target_geopose_node"
          output="screen">
      <param name="detection_topic" value="/yolo/detection" />
      <param name="global_position_topic" value="$(arg global_position_topic)" />
      <param name="local_pose_topic" value="$(arg local_pose_topic)" />
      <param name="output_topic" value="$(arg global_target_topic)" />
      <param name="body_frame" value="$(arg body_frame)" />
      <param name="camera_frame" value="$(arg camera_frame)" />
      <param name="min_confidence" value="$(arg yolo_conf_threshold)" />
      <param name="transform_timeout_sec" value="0.10" />
      <param name="publish_invalid" value="true" />
    </node>
  </group>

  <group if="$(arg enable_competition_task)">
    <node pkg="d435i_yellow_circle_detector"
          type="competition_task_node.py"
          name="competition_task_node"
          output="screen">
      <param name="mission_stage" value="$(arg mission_stage)" />
      <param name="yolo_detections_topic" value="/yolo/detections" />
      <param name="target_topic" value="/competition/target" />
      <param name="drop_zone_distance_m" value="30.0" />
      <param name="disaster_zone_distance_m" value="55.0" />
      <param name="zone_length_m" value="8.0" />
      <param name="zone_width_m" value="5.0" />
      <param name="drop_cylinder_diameters_m" value="0.15,0.20,0.25" />
      <param name="disaster_cylinder_diameter_m" value="0.20" />
      <param name="hazard_label_size_m" value="0.12" />
      <param name="b_zone_diameter_m" value="1.0" />
      <param name="cylinder_keywords" value="cylinder,tube,barrel,can,tong,yuantong,white_cylinder" />
      <param name="hazard_keywords" value="hazard,chemical,danger,label,sign,biaoshi" />
    </node>
  </group>
</launch>
